<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LaPlataEnBici</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>misservlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeUsr</display-name>
    <servlet-name>HomeUsr</servlet-name>
    <servlet-class>misservlets.HomeUsr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeUsr</servlet-name>
    <url-pattern>/HomeUsr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeAdmin</display-name>
    <servlet-name>HomeAdmin</servlet-name>
    <servlet-class>misservlets.HomeAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAdmin</servlet-name>
    <url-pattern>/HomeAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrarse</display-name>
    <servlet-name>Registrarse</servlet-name>
    <servlet-class>misservlets.Registrarse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrarse</servlet-name>
    <url-pattern>/Registrarse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usuarios</display-name>
    <servlet-name>Usuarios</servlet-name>
    <servlet-class>misservlets.Usuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuarios</servlet-name>
    <url-pattern>/Usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bicicletas</display-name>
    <servlet-name>Bicicletas</servlet-name>
    <servlet-class>misservlets.Bicicletas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bicicletas</servlet-name>
    <url-pattern>/Bicicletas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>misservlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarBicicleta</display-name>
    <servlet-name>EditarBicicleta</servlet-name>
    <servlet-class>misservlets.EditarBicicleta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarBicicleta</servlet-name>
    <url-pattern>/EditarBicicleta</url-pattern>
  </servlet-mapping>
</web-app>